<div class="col-md-4">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Current Time</h5>
            <p style="font-size: 65px; margin: -15px;" class="card-text" id="current-time"></p>
            <h5 class="card-title">Current Temperature</h5>
            {% if weather %}
                <div class="d-flex justify-content-center align-items-center">
                    <h3 class="card-text mb-0">{{ weather.current_weather.temperature }}°C</h3>
                    <i class="wi weather-icon {{ weather.current_weather.icon }} ms-2"></i>
                </div>
            {% else %}
                <h1 class="card-text" id="current-time"></h1>
                <p class="card-text">No weather data available.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function updateTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        document.getElementById('current-time').textContent = `${hours}:${minutes}`;
    }

    setInterval(updateTime, 1000);
    updateTime();
</script>