<div class="col-md-4">
    <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Current Time</h5>
            <p style="font-size: 65px; margin: -20px;" class="card-text" id="current-time"></p>
            <h5 class="card-title">Current Temperature</h5>
            {% if weather %}
                <div class="d-flex justify-content-center align-items-center">
                    <h3 class="card-text mb-0">{{ weather.current_weather.temperature }}°C</h3>
                    <i class="wi weather-icon {{ weather.current_weather.icon }} ms-2"></i>
                </div>
            {% else %}
                <h1 class="card-text" id="current-time"></h1>
                <p class="card-text">No weather data available.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const timeZone = '{{ timeZone }}'; // Zmienna strefy czasowej przekazana przez Twig

    function updateTime() {
        const now = new Date();
        const options = {
            timeZone: timeZone,
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        };
        const timeString = now.toLocaleTimeString('en-GB', options);
        document.getElementById('current-time').textContent = timeString;
    }

    setInterval(updateTime, 1000);
    updateTime();
</script>
