<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather and Time</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/weather-icons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        body,
        html {
            width: 800px;
            height: 400px;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .container {
            height: 100%;
            padding: 10px 2px;
        }

        .weather-icon {
            font-size: 24px;
            color: #000000;
        }

        .card-title,
        .card-text,
        h6,
        p {
            color: #000000;
            margin-bottom: 5px;
        }

        .card {
            border: 1px solid #000000;
            margin-bottom: 5px;
            height: 180px;

        }

        .card-body {
            padding: 10px;
        }

        .event-summary {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Pierwszy rząd -->
    <div class="row">
        {% for component in layout[:3] %}
            {% include 'compoments/' ~ component ~ '.html.twig' with {
            'CurrentWeather': {'weather': weather, 'timeZone': timeZone},
            'Forecast': {'weather': weather},
            'Spotify': {'spotifyNowPlaying': spotifyNowPlaying},
            'GoogleCalendar': {'events': events},
            'Emails': {'emailConfigured': emailConfigured, 'latestMail': latestMail, 'unreadCount': unreadCount},
            'SolarEdge': {'solarData': solarData},
            'SolarEdgeChart': {'weeklyProductionData': weeklyProductionData},
            'AirQuality': {'airQuality': airQuality},
            'Countdown': {'countdown': countdown},
            'Clock': {'timeZone': timeZone}
            }[component] %}
        {% endfor %}
    </div>

    <!-- Drugi rząd -->
    <div class="row">
        {% for component in layout[3:] %}
            {% include 'compoments/' ~ component ~ '.html.twig' with {
            'CurrentWeather': {'weather': weather, 'timeZone': timeZone},
            'Forecast': {'weather': weather},
            'Spotify': {'spotifyNowPlaying': spotifyNowPlaying},
            'GoogleCalendar': {'events': events},
            'Emails': {'emailConfigured': emailConfigured, 'latestMail': latestMail, 'unreadCount': unreadCount},
            'SolarEdge': {'solarData': solarData},
            'SolarEdgeChart': {'weeklyProductionData': weeklyProductionData},
            'AirQuality': {'airQuality': airQuality},
            'Countdown': {'countdown': countdown},
            'Clock': {'timeZone': timeZone}
            }[component] %}
        {% endfor %}
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
